<!--directive here-->
<div id="header" class="centered">
	<span class="text">Oil Level Check</span>
</div>
<div class="well">
	<div id="oilLevelIndicator" class="progress" ng-click="updateOilAmount($event)">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{newOilLevelCheck.oilLevel}}" aria-valuemin="0" aria-valuemax="100" style="width: {{newOilLevelCheck.oilLevel}}%;">
			<span class="sr-only">{{newOilLevelCheck.oilLevel}}% Full</span>
		</div>
	</div>
	<div class="clearfix">
		<div class="pull-left bold">Empty</div>
		<div class="pull-right bold">Full</div>
	</div>
</div>
<form id="carDataForm" data-ng-submit="submitForm()">
	<div class="radio">
		<label>
			<input type="radio" name="engineTemp" value="Cold" ng-model="newOilLevelCheck.engineTemp" checked>
			Cold Engine
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="engineTemp" value="Warm" ng-model="newOilLevelCheck.engineTemp">
			Warm Engine
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="engineTemp" value="Hot" ng-model="newOilLevelCheck.engineTemp">
			Hot Engine
		</label>
	</div>
	<div class="form-group">
		<label for="Time Stamp">Time Stamp</label>
		<input class="form-control" type="datetime-local" ng-model="newOilLevelCheck.timestamp">
	</div>
	<div class="form-group">
		<label for="Odometer">Odometer</label>
		<input class="form-control" type="text" ng-model="newOilLevelCheck.odometer" value="">
	</div>
	<div submission-buttons></div>
</form>
<table class="table table-striped top-space">
	<caption>Oil Level History</caption>
	<thead>
		<tr>
			<th>Date</th>
			<th>Odometer</th>
			<th>Temp</th>
			<th>Oil Level</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in history | orderBy: item.value.timestamp">
			<th>{{item.value.timestamp}}</th>
			<td>{{item.value.odometer}}</td>
			<td>{{item.value.engineTemp}}</td>
			<td>{{item.value.oilLevel}}</td>
		</tr>
	</tbody>
</table>
