#background {
	background-color:darkgray;
}

#mainDiv {
	margin: 0 auto;
	max-width: 500px;
	background-color:lightgray;
	padding: 5px 10px 10px 10px;
}

#mainDiv #header {
	margin: 10px 0px;
	padding: 0px 10px;
}

#mainDiv #header span.text {
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}

.progress {
	margin-top: 10px;
}

.centered {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.set-width-med {
	min-width: 50%;
}

.top-space {
	margin-top:10px;
}

table caption {
	text-align: center;
}
